@import url('navbar.css');

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 6px 15px -3px rgba(0, 0, 0, 0.22) ;

}

.info-prin {
    text-align: center;
}

.image-pokemon img{
    background-color: rgb(238, 235, 235);
    border-radius: 5px;
    max-width: 300px;
    min-width: 250px;
}

.poke-info ul li {
    list-style: none;
}

.poke-info li {
    padding: 5px;
    color: white;
}

.poke-info li p{
    color: black;
}

.poke-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 129, 235);
    border-radius: 5px;
    width: 300px;
    height: auto;
    min-height: 100px;
    padding: 20px;
}

.first-part {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}


