<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pokemon.name %></title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <h1>Nombre: <%= pokemon.name %> </h1>    
    <br>
    <figure>
        <img src="<%= pokemon.url %>" alt="<%= pokemon.name %>">
    </figure>
</body>

</html>