<header>
    <nav>
        <ul>
            <div class="title-nav">
                <a href="/pokemon/list">Mi Pokedex</a>
            </div>
            <form action="/pokemon/resultado" method="POST">
                <div class="buscador">
                    <input type="text" name="titulo" id="titulo">
                </div>
            </form>
        </ul>
    </nav>
</header>